# Extraction of Postal Code of Canada from Wikipedia into Pandas DF

In [27]:
import numpy as np
import pandas as pd

### Using Pandas to extract all tables from Wikipedia Link

Note that the 1st table is the table of interest, therefore use set df = tables[0]

In [28]:
link = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
tables = pd.read_html(link)
df = tables[0]
df

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

### Removing Borough that are "Not assigned"

In [29]:
df = df[df['Borough']!= 'Not assigned'].reset_index().drop('index',axis=1)
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### Checking if postal codes are unique in tables

In [30]:
Unipost = df['Postal Code'].value_counts().to_frame()
Unipost

     Postal Code
M3B            1
M4L            1
M4B            1
M1C            1
M2R            1
..           ...
M6J            1
M4T            1
M6B            1
M2L            1
M6H            1

[103 rows x 1 columns]

In [31]:
Unipost[Unipost['Postal Code']>1]

Empty DataFrame
Columns: [Postal Code]
Index: []

### Check if any Neighbourhood is not assigned

In [34]:
df[df['Neighborhood']=='Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

### Geting the shape of the dataframe

In [38]:
df.shape

(103, 3)

## End of Part 1